$xo-symbol-thickness: 2px;
$xo-symbol-color: $xo-white;
$xo-symbol-size: 14px;

.add-course {
    background-color: $xo-white;
    color: $xo-dark-grey;

    font-size: 0.8em;
    display: block;
    position: relative;

    margin: 0 0 5px;
    padding: 5px 10px;

    border: 1px solid rgb(200, 200, 200);
    border-radius: $xo-border-radius;
    border-left-color: $xo-light-blue;
    border-left-width: 40px;

    &:hover {
        cursor: pointer;
    }
    .course-name {
        color: $xo-black;
        display: block;
    }
    .course-credits {
        color: $xo-dark-grey;
    }
}

.add-course>div:after,
.add-course>div:before {
    content: '';
    position: absolute;
    background: $xo-white;
    top: 50%;
    left: calc(-28px);
    width: $xo-symbol-size;
    height: $xo-symbol-thickness;
}

.add-course>div:after {
    transform: rotate(90deg);
}