button {
    background-color: $xo-dark-blue;
    color: $xo-white;
    border: 3px double $xo-light-blue;
    border-radius: $xo-border-radius;
    padding: 10px 10px;
    margin: 0 auto;
    display: block;
    transition: 0.25s ease all;

    &:hover {
        cursor: pointer;
        filter: brightness(80%);
        transition: 0.25s ease all;
    }
}