.course {
    background-color: $xo-white;
    border: 1px solid $xo-dark-grey;
    border-left: 10px solid $xo-green;
    border-radius: $xo-border-radius;
    color: $xo-dark-grey;
    font-size: 0.8em;
    padding: 8px 5px;
    margin: 0 0 5px;
    position: relative;

    .course-name {
        color: $xo-black;
        display: block;
    }
    .course-code {
        text-transform: uppercase;
    }

    .alert {
        position: absolute;
        top: 0;
        left: calc(100% - 5px);

        transform: translateX(-100%);
        text-align: center;
        font-weight: bold;

        border: 1px solid $xo-dark-pink;
        background-color: $xo-pink;
        color: white;

        width: 20px;
        height: 20px;
        margin-top: 3px;

        border-radius: 50%;
        padding: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

.prereqContainer {
    position: relative;
}

.prereq {
    @extend .course;
    border-left: 10px solid $xo-pink;
    box-shadow: 0px 0px 5px $xo-dark-grey;
    position: absolute;
    bottom: 0;

    .notch {
        background-color: $xo-white;
        border-right: 1px solid $xo-dark-grey;
        border-bottom: 1px solid $xo-dark-grey;
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        right: 10px;
        box-shadow-right: 41px 41px 15px $xo-dark-grey;
        bottom: -6px;
        transform: rotate(45deg);
    }
}