// 
$button-size: 25px;

.creditsContainer {
    display: inline-block;
}

.creditsLeft {
    display: inline-block;
    position: relative;
    background-color: rgb(213, 50, 90);
    border-radius: 50%;
    color: $xo-white;
    width: $button-size;
    height: $button-size;
    text-align: center;
}

.creditsLeftCopy {
    display: inline;
}

@media screen and (min-width:640px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {
    .creditsContainer {
        margin-left: 20px;
        position: absolute;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
    }
}