div {
    .parent {
        margin-top: 10px;
    }
    .progress {
        border: 1px solid $xo-dark-grey;
        max-width: 200px;
        background-color: $xo-white;

        .progress-bar {
            background-color: $xo-green;
            color: black;
            font-weight: bold;
        }
    }
}

.parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.left {
    flex-grow: 1;
}

.right {
    display: none;
}

.progressCopy {
    display: inline;
}

@media screen and (min-width:992px) {
    .progressCopy {
        display: none;
    }

    .parent {
        margin-top: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .right {
        display: inline;
        margin: 0 0 0 10px;
    }
}