/*
    A 'card' that contains courses
*/

.sem-card {
    border-radius: $xo-border-radius;

    &-header {
        margin-top: 10px;
        padding: 10px 10px;
        h2 {
            color: $xo-black;
            margin: 0;
        }
        p {
            font-size: 0.8em;
            color: $xo-dark-grey;
            margin: 0px 0;
        }
    }

    .slots {
        background-color: white;
        padding: 10px 10px;
    }
}

.sem-card-next {
    @extend .sem-card;
    border: 1px solid $xo-dark-grey;
    background-color: $xo-light-grey;
    .header {
        @extend .sem-card-header;
        background-color: $xo-light-grey;
    }
    .footer {
        background-color: $xo-light-blue;
        padding: 20px 0;
    }
}

.sem-card-future {
    @extend .sem-card;

    .header {
        @extend .sem-card-header;
    }
    background-color: rgb(250, 250, 250);
}

// .full-width-row>div {
//     margin-left: -15px;
//     margin-right: -15px;
// }