body {
    background-color: rgb(250, 250, 250);
    font-family: sans-serif;
    font-size: 1em;
    padding: 20px;
    margin: 0 20px;
}

h1 {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    transition: 0.5s ease all;
}

h2 {
    font-size: 1.0em;
    font-weight: bold;
}

a {
    color: $xo-light-blue;
    &:hover {
        color: $xo-black;
    }
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 2rem;
    }
}