#dropdownLabel {
    margin-right: 20px;
}

#dropdown {
    background-color: $xo-white;
    border: 1px solid $xo-light-grey;
    border-radius: 8px;
    font-size: 1rem;
    color: $xo-dark-grey;
    padding: 10px;
    min-width: 300px;
    outline: none;
}