.empty-slot {
    background-color: $xo-white;
    border: 1px dashed rgb(225,225,225);
    border-radius: $xo-border-radius;
    font-size: 0.8em;
    color: $xo-dark-grey;
    padding: 16px;
    margin: 2px;
}