.nav {
    background-color: $xo-light-grey;
    border: 1px solid $xo-grey;
    border-radius: $xo-border-radius;
    padding: 10px 20px;
    margin: 20px 0;

    .vertRule {
        display: none;
    }
    .creditContainer {
        position: relative;
        margin-top: 20px;
    }
    fieldset {
        legend {
            width: auto;
            padding: 0;
            float: left;
            margin: 0 20px 0 0;
            font-size: 100%;
        }
        label {
            margin: 0 30px 0 0;
        }
    }
}

input[type="checkbox"]+label  {
    display: inline-block;
}

@media screen and (min-width: 991px) {
    .nav {
        .creditContainer {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    .nav {

        .vertRule {
            display: inline;
            background-color: red;
            border-right: 1px solid $xo-dark-grey;
            margin: 0 20px 0 20px;
            height: 100%;
        }
    }
}