//
$xo-slot-size: 50px;

$xo-white: #fff;
$xo-black: #000;

$xo-blue: rgb(44, 144, 180);
$xo-light-blue: rgb(28, 177, 219);
$xo-dark-blue: rgb(0, 124, 171);

$xo-grey: rgb(220, 220, 220);
$xo-light-grey: rgb(240, 240, 240);
$xo-dark-grey: rgb(140, 140, 140);

$xo-pink: rgb(255, 61, 107);
$xo-dark-pink: rgb(160, 36, 60);
$xo-green: rgb(125, 200, 66);

$xo-border-radius: 5px;